.big-line{
    border-left: 1px solid black; 
    width: 350px;
    position:relative; 
}
.small-line{
    border-left: 3px solid black;
    width: 100px;
    position:absolute;
    transition: 1s;
    /* transform: translateY(7rem); */
}