.main-4{
    position: relative;
}
.vision-text-1{
    position: absolute;
    /* width:33%; */
    left:50px;
    top: 15px;
    bottom: 15px;
}
@media screen and (max-width:960px) {
    .vision-text{
        position: absolute;
        width:25%;
        left:50px;
        top: 50px;
    } 
    
}